.container {
  min-height: 350px;
  max-width: 320px;
  margin: 0 auto;
  border: 1px solid #cecece;
}

.visible{
  display: flex;
  justify-content: space-between;
  background-color: blueviolet;
  min-height: 200px;
}

.invisible{
  display: flex;
  justify-content: space-between;
  background-color: rgb(211, 226, 43);
  min-height: 200px;
}

.button {
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
}
