/*
    Container
*/
.container{
    width: 400px;
    background: green;
    padding: 40px;

    h2{
        font-size: 25px;
        color:azure;
    }
}

.control{
    background-color: rgb(44, 28, 182);
}